/*Reset to Default*/
* {
	margin: 0;
	padding: 0;
}
/*Remove Scroll Bar*/
html {
	overflow-y: scroll;
	overflow: scroll;
}
body {
	background-color: #141313;
}
/*Container*/
#container {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	height: 100%;
}
.clear {
	clear: both;
}
#collect {
	margin-top: 70px;
}
.errorclass {
	color: #06F;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	margin-top: 10px;
}
table {
	background-color: #141313;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	font-family: Verdana, Geneva, sans-serif;
	color: white;
	width: 900px;
}
th {
	height: 20px;
	text-align: center;
}
td {
	width: 300px;
	text-align: center;
}
table, th, td {
	border: 1px solid orange;
}
.loading {
	background: url(images/loading/ajax-loader.gif) no-repeat center center;
	height: 32px;
	display: none;
}
